<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat, :onclick => "location_edit()"%>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long, :onclick => "location_edit()"%>
  </div>
  <% if user_signed_in? %>
	  <div class="field">
		<%= f.hidden_field :status, :value => "Approved"%>
	  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
