<div id="left_col">
	<p id="notice"><%= notice %></p>

	<% form_tag locations_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>

	<h1>List of Locations</h1>
	<div id="list">
		<% @locations.each do |location| %>
			<% if user_signed_in? %>

				<div id="loc_name">*<%= location.name %></div>
				<div id="loc_link"><%= location.status %> || <%= link_to 'Edit', edit_location_path(location) %> |
				<%= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete %> | <a href="#" onClick="location_search('<%= location.name %>', '<%= location.lat %>', '<%= location.long %>')">Show on map</a></div>
			<% elsif location.status.eql?("Approved")%>
				<div id="loc_name">*<%= location.name %></div>
				<div id="loc_link"><a href="#" onClick="location_search('<%= location.name %>', '<%= location.lat %>', '<%= location.long %>')">Show on map</a></div>
			<% end %>
		<% end %>
	</div>
</div>
<div id="right_col">
	<div id="place"></div>
	<div id="map_search">Click <u>Show on map</u></div>
</div>
<% if user_signed_in? %>
<%= link_to 'Add Location', new_location_path %>
<% else %>
<%= link_to 'Suggest Location', new_location_path %>
<% end %>
